<h2>{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</h2>

<form [formGroup]="contactForm" (ngSubmit)="saveContact()" class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter First Name</mat-label>
    <input matInput
           placeholder="Your First Name"
           formControlName="firstName"
           required>
    <mat-error *ngIf="errorMessages['firstName']">
      {{ errorMessages['firstName'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Last Name</mat-label>
    <input matInput
           placeholder="Your Last Name"
           formControlName="lastName"
           required>
    <mat-error *ngIf="errorMessages['lastName']">
      {{ errorMessages['lastName'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Email</mat-label>
    <input matInput
           placeholder="mail@example.com"
           formControlName="email"
           required>
    <mat-error *ngIf="errorMessages['email']">
      {{ errorMessages['email'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Phone Number</mat-label>
    <input matInput
           type="text"
           formControlName="phoneNumber"
           placeholder="Your Phone Number"
           pattern="[0-9]*">
    <mat-error *ngIf="errorMessages['phoneNumber']">
      {{ errorMessages['phoneNumber'] }}
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Select Birth Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="mm/dd/yyyy">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="errorMessages['birthDate']">
      {{ errorMessages['birthDate'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Address</mat-label>
    <input matInput
           type="text"
           formControlName="address"
           placeholder="Your Address">
    <mat-error *ngIf="errorMessages['address']">
      {{ errorMessages['address'] }}
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Save Changes' : 'Add Contact' }}</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
