<h2>{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</h2>

<form [formGroup]="contactForm" (ngSubmit)="saveContact()" class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter First Name</mat-label>
    <input matInput
           placeholder="Your First Name"
           formControlName="firstName"
           required>
    <mat-error *ngIf="contactForm.get('firstName')?.invalid && (contactForm.get('firstName')?.dirty || contactForm.get('firstName')?.touched)">
      First Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Last Name</mat-label>
    <input matInput
           placeholder="Your Last Name"
           formControlName="lastName"
           required>
    <mat-error *ngIf="contactForm.get('lastName')?.invalid && (contactForm.get('lastName')?.dirty || contactForm.get('lastName')?.touched)">
      Last Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Email</mat-label>
    <input matInput
           placeholder="mail@example.com"
           formControlName="email"
           required>
    <mat-error *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Phone Number</mat-label>
    <input matInput
           type="text"
           formControlName="phoneNumber"
           placeholder="Your Phone Number"
           pattern="[0-9]*"b>
    <mat-error *ngIf="contactForm.get('phoneNumber')?.hasError('required')">
      Phone number is required
    </mat-error>
    <mat-error *ngIf="contactForm.get('phoneNumber')?.hasError('pattern')">
      Phone number must be 10 digits
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Select birth date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="mm/dd/yyyy">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="contactForm.get('birthDate')?.invalid && (contactForm.get('birthDate')?.dirty || contactForm.get('birthDate')?.touched)">
      Birth date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Address</mat-label>
    <input matInput
           type="text"
           formControlName="address"
           placeholder="Your Address">
    <mat-error *ngIf="contactForm.get('address')?.invalid && (contactForm.get('address')?.dirty || contactForm.get('address')?.touched)">
      Address is required
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Save Changes' : 'Add Contact' }}</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
