$content-padding: 16px;
$content-max-width: 800px;
$content-width: 100%;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $content-padding;
  margin: 0 auto;
  max-width: $content-max-width;
  width: $content-width;
}
